<?xml version="1.0" encoding="UTF-8"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="https://raw.githubusercontent.com/shopware/platform/master/src/Core/System/SystemConfig/Schema/config.xsd">

    <card>
        <title>Configuration</title>
        <input-field type="bool">
            <name>enableSpeculationRules</name>
            <defaultValue>false</defaultValue>
            <label>Enable speculation rules</label>
        </input-field>

        <input-field type="textarea">
            <name>customSelectors</name>
            <label>Custom selectors</label>
            <helpText>CSS selectors separated by a pipe (|)</helpText>
        </input-field>
    </card>
</config>